asgiref==3.5.2
attrs==22.1.0
Django==4.1.4
django-extensions==3.2.1
django-filter==22.1
django-schema-graph==2.2.1
djangorestframework==3.14.0
importlib-metadata==5.1.0
Markdown==3.4.1
Pillow==9.3.0
pydotplus==2.0.2
pyparsing==3.0.9
pytz==2022.6
sqlparse==0.4.3
tzdata==2022.7
zipp==3.11.0
hazm==0.7.0
numpy==1.23.2
pandas==1.5.2
gensim==4.2.0
sklearn==0.0
